body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.gameInfo{
    background-color:blanchedalmond;
    border-style:solid;
    border-color:maroon;
    border-width:10px;
    border-radius:12px;
    color:maroon;
    padding: 14px 16px;
    margin-bottom: 10px;   
}

.gameInfoHeader{
    background-color:burlywood;
    padding: 8px 10px;
    border-radius:8px;  
}

.gameBackground{
    background-color:blanchedalmond;
    border-style:solid;
    border-color:maroon;
    border-width:10px;
    border-radius:12px;
}

.gameBackgroundText{
    background-color:blanchedalmond;
    color:maroon;
    font-size:20px;
    font-weight:normal;
}

.gameDrawBox{
    margin-left:10px;
    border-radius:8px;
    color:maroon;
    padding:4px 6px;
}

.gameMessField{
    background-color:ghostwhite;
    border-style:solid;
    border-color:maroon;
    border-radius:8px;
    color:maroon;
    font-size:16px;
    padding: 8px 16px;
}

.squarePic {   
    position:absolute;
    top:10%;
    bottom: 0;
    left: 10%;
    right: 0;
    width: 80%;
}

.squareSize{
    position:relative;
    padding-top:8.333%;
}

.blackSquareColor{
    background-color:burlywood;
}

.whiteSquareColor{
    background-color:ghostwhite;
}

.boardFrameColor{
    background-color:maroon; 
}

.boardFrameRadiusTL{
    border-top-left-radius: 20px;
}

.boardFrameRadiusTR{
    border-top-right-radius: 20px;
}

.boardFrameRadiusBL{
    border-bottom-left-radius: 20px;
}

.boardFrameRadiusBR{
    border-bottom-right-radius: 20px;
}

.frameText {
    position:absolute;
    top: 35%;
    bottom: 0;
    left: 0;
    right: 0;
    /*font-size:100%;*/
    text-align:center;
    color:ghostwhite;  
    
}

.introHeader {
    margin-bottom: 50px;
}
.moveHeader {
    margin-top: 50px;
}

input[type=string], select {
    width: 100px;
    padding: 8px 8px;
    margin: 8px 0;
    /*display: inline-block;*/
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}

.gameButton {
    background-color: burlywood;
    border-style:solid;
    border-color:maroon;
    border-radius: 8px;
    font-size: 16px;
    color:maroon;
}
